@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */

  --soft-blue: #5468e7;
  --soft-violet: #c897e4;
  --dark-blue: #232340;
  --desatured-blue: #7676b2;
  --off-white: #f5f5f5;
  --light-orange: #ffba79;

  /* Typography */

  --h1-desktop: 50px;
  --line-h1-desktop: 64px;
  --h1-mobile: 34px;
  --line-h1-mobile: 42px;
  --h2: 32px;
  --line-h2: 40px;
  --h3: 24px;
  --line-h3: 30px;
  --h4: 16px;
  --line-h4: 26px;
  --p-desktop: 18px;
  --line-p-dekstop: 27px;
  --c-dekstop: 14px;
  --line-c-dekstop: 23px;
  --link: 16px;
  --line-link: 24px;
}

.mainContainer {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.carouselContainer {
  max-width: 1640px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

body {
  background: var(--off-white, #f5f5f5);
}

path {
  fill: var(--soft-blue);
}
